.landing {
  &__flexed {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__title {
    display: block;
    color: $secondary;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  &__box {
    background-color: $secondary;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    margin: 0;
    &__statement {
      margin: 0;
    }
  }
  &__status {
    font-size: 1.3rem;
    color: $primary;
    margin: 0;
  }

  &__subtitle {
    font-weight: 400;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    // border: 1px solid white;
    // padding: 1rem;
  }

  &__progress-work {
    width: 48%;
    margin: 1rem 0;
    &__title {
      margin: 0;
      font-size: 1.3rem;
    }
  }


  &__backdrop{
    border: 1px solid white;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;

  }
  &__solution {
    display: flex;
    border-radius: 5px;
    background-color: white;
    align-items: center;
    width: 100%;
    padding: 0.6rem;
    justify-content: space-between;
    margin: 1rem 0;
  }
  &__resolution {
    margin: 0;
    font-size: 1.3rem;
  }
  &__statement {
    margin: 0;
  }
  &__test {
    display: flex;
  }

  &__estimate {
    background-color: white;
    border-radius: 5px;
    padding: 2rem;
    margin: 2rem 0;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 1.3rem;
      margin: 0;
      color: $primary;
    }
    &__details {
      margin: 1rem 0 0 0;
      font-size: 1.3rem;
      color: $primary;
      font-weight: 700;
    }

    &__info {
      height: 2rem;
      width: 2rem;
    }

    &__img {
      background-color: $secondary;
      height: 2rem;
      border-radius: 10px;
    }
    &__popup {
      font-size: 1.3rem;
      color: $primary;
    }
  }
}

.react-sweet-progress-symbol {
  font-size: 1.3rem;
  color: white;
}
