@include mobile {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  a {
    text-decoration: none;
  }

  p {
    color: $primary;
  }
  hr{
    height: .5px;
  }
  h2{
    margin:4rem 0 2rem 0 ;
  }

  body {
    // font-family: "Poppins";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    background: $primary;
    color: $quad;
    margin: $mobile-pad;
    padding-top: 0;
    @include mobile-height;
  }
}
