$mobile-min: 320px;
$mobile-max: 767px;


$primary: #a5243d;
$secondary: #cee0dc;
$tertiary: #b48291;
$quad: #afaab9;
$text: white;

$box: 0 0 20px
  rgba(
    $color: black,
    $alpha: 20%,
  );

$mobile-pad: 0 1.6rem;
