.status {
  padding: $mobile-pad;

  &__box {
    background-color: $secondary;
    padding: 2rem;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
  &__options {
    @include cards;
    border: none;
  }
  &__application {
    @include cards;
    padding: 1rem;
    margin-bottom: 2rem;

    p {
      margin: 0;
      font-size: 1.3rem;
    }
  }

  &__status {
    color: black;
  }
  &__title__wrapper{
    display: flex;
    justify-content: space-between;
  }
  &__title__more{
    margin-left: 2rem;
  }

  &__disclaimer {
    display: flex;
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    align-items: center;

    &__help {
      width: 2rem;
      height: 2rem;
      margin: 0 1rem;
    }
  }
}

.react-sweet-progress-symbol-absolute div {
  color: white;
}
