.history {

  &__wrapper {
    @include cards;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    // width: 30%;

    &:hover {
      background-color: white;
      color: $secondary;
    }
  }

  &__box {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    // align-items: center;

    &__subtitle {
      margin: 0;
      font-weight: 400;
      font-size: 1.3rem;
      color: $primary;
    }

    &__description {
      color: white;
      font-size: 1.3rem;
      color: black;
    }

    &__solved {
      background-color: $primary;
      color: white;
      font-size: 1.3rem;
      border-radius: 5px;
      width: 17%;
      text-align: center;
    }

    &__type{
      margin: 0 0 1rem 0;
      font-size: 1.3rem;
    }
  }

  &__select{
    margin-top: 1rem;
    border-radius: 5px;
    @include inputStyle;
    padding: 1rem 1rem;
    width: 100%;
    margin-bottom: 2rem;

    &:focus {
      outline: none;
    }
  }
  &__statement {
    margin: 0;
  }

  &__container-statement {
    background-color: $secondary;
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  &__timestamp {
    color: darkgray;
    margin: 0;
    font-size: 1.3rem;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    padding: 0;
  }
}
