.header {
  display: flex;
  justify-content: space-between;
  // padding: $mobile-pad;
  position: sticky;
  top: 0;
  background-color: $primary;
  z-index: 1;
  // height: 7rem;
  padding-top: 1.6rem;

  &__logo{
    width: 6rem;
    // position: fixed;
    // z-index: 1;
    // background-color: $primary;
    // margin: 0 2rem;
  }
}
