.nav {
  display: flex;
  justify-content: space-between;
  padding: $mobile-pad;
  background-color: white;
  position:sticky;
  bottom: 1px;
  z-index: 1;
  &-container {
    display: flex;
    &__icons {
      width: 3rem;
    }
  }
}
