.ticket {
  padding: $mobile-pad;

  &__box {
    background-color: #6f8565;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba($color: black, $alpha: 20%);
    padding: 2rem;
    display: flex;
    margin: 4rem 0;
    &__statement {
      margin: 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }

  &__input {
    @include inputStyle;

    &:focus {
      outline: none;
      background-color: lightgray;
    }
  }

  &__textarea {
    @include inputStyle;
    resize: none;
    height: 20vh;
    &:focus {
      outline: none;
      background-color: lightgray;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  &__submit {
    width: 100%;
    background-color: $secondary;
    color: white;
    font-family: "Poppins";
    border: none;
    border-radius: 5px;
    padding: 1.5rem 1rem;
    box-shadow: $box;
  }
}
