.ticket {

  &__box {
    background-color: #6f8565;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    &__statement {
      margin: 0;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  &__descript {
    margin: 0;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 0;
  }

  &__input {
    @include inputStyle;
    margin-top: 1rem;
    &:focus {
      outline: none;
    }
  }

  &__textarea {
    @include inputStyle;
    resize: none;
    height: 20vh;
    margin-top: 1rem;
    &:focus {
      outline: none;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;
  }

  &__select {
    margin-top: 1rem;
    border-radius: 5px;
    @include inputStyle;
    padding: 1rem 1rem;

    &:focus {
      outline: none;
    }
  }

  &__option {
    background-color: white;
    color: $primary;
  }

  &__select::selection {
    background-color: $secondary;
    color: white;
  }

  &__btn {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  &__submit {
    width: 100%;
    background-color: $primary;
    color: white;
    font-family: "Poppins";
    border: 1px solid white;
    border-radius: 5px;
    padding: 1.5rem 1rem;
  }
}
