.homepage {
  margin-bottom: 4rem;
  padding: $mobile-pad;

  &__title {
    display: block;
  }
  &__box {
    background-color: #6f8565;
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    margin: 0;
    &__statement {
      margin: 0;
    }
  }
  &__status {
    font-size: 1.3rem;
    color: black;
    margin: 0;
  }

  &__subtitle {
    font-weight: 400;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__progress-work {
    @include cards;
    width: 48%;
    margin: 1rem 0;
    &__title {
      margin: 0;
      font-size: 1.3rem;
    }
  }
  &__statement {
    margin: 0;
  }

  &__estimate {
    @include cards;
    margin: 1rem 0;
    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__title {
      font-size: 1.3rem;
      margin: 0;
    }
    &__details {
      margin: 1rem 0 0 0;
      font-size: 1.3rem;
      color: black;
    }

    &__info {
      height: 2rem;
      width: 2rem;
    }

    &__img {
      background-color: $secondary;
      height: 2rem;
      border-radius: 10px;
    }
    &__popup {
      font-size: 1.3rem;
    }
  }
}

.react-sweet-progress-symbol {
  font-size: 1.3rem;
}
